.schedule-table {
  width: 600px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: 45px; /* extra indent relative to body text */

}

.schedule-table td {
  padding: 10px;
  vertical-align: center;
  horizontal-align: center;
}

.schedule-table td:first-child {
  width: 120px;
  font-weight: bold;
}

.schedule-table .highlight-text {
  color: #F54927; /* dark red example */
  font-weight: bold;

}
