.schedule-table {
  width: 800px;
  table-layout: fixed;
  border-collapse: collapse;
}

.schedule-table td {
  padding: 12px;
  vertical-align: top;
}

.schedule-table td:first-child {
  width: 120px;
  font-weight: bold;
}
