/* Body defaults */
body {
  font-family: Helvetica, serif;
  font-size: 18px;
  color: black;
  line-height: 1.6;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: white;
  text-align: left; /* force left alignment */
}

/* Ensure first/last children margins */
body > *:first-child {
  margin-top: 0 !important; 
}
body > *:last-child {
  margin-bottom: 0 !important; 
}

/* Links */
a {
  color: #7B68EE;
  text-decoration: none;
}
a:hover {
  background-color: #6624f8;
  color: #24e4f8;
}
a.absent {
  color: #6495ED;
}
a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}


.spacer {
  margin-top: 2rem;
}

