body {
  font-family: Helvetica, serif;
  font-size: 16px;
  color: white;
  line-height: 1.6;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: black;
  text-align: left;
}

/*E01931
FF8286
00CED1
7B68EE
7B68EE
cc0000
800080
24e4f8
0ab6d8
*/
a {
  color: #7B68EE; 
text-decoration: none;}
a:hover {
  background-color: #6624f8;
  color: #24e4f8; }
a.absent {
  color: #6495ED; }
a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

/*F54927*/
h0 {
  font-size: 70px;
  color: #7B68EE; 
  font-weight:bold;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }


h1 {
  font-size: 40px;
  color: #F54927; }

h2 {
  font-size: 30px;
  /*border-bottom: 1px solid #cccccc;*/
  color: #F54927; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; 
border-bottom: 1px solid #cccccc;
  color: #F54927;}

h5 {
  font-size: 14px; 
  color: #F54927; }

h6 {
  color: #777777;
  font-size: 14px; }



li p.first {
  display: inline-block; }
li {
  margin: 0; }
ul, ol {
  padding-left: 30px; }

ul :first-child, ol :first-child {
  margin-top: 0; }


img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


/*Default centering*/
/** {
	-webkit-print-color-adjust: exact;
}
@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:0 auto;
    }
}
@media print {
	table, pre {
		page-break-inside: avoid;
	}
	pre {
		word-wrap: break-word;
	}
}*/

nav a {
        margin-right: 20px;
        /*text-align: right;*/
        font-size: 20px;
        text-transform: uppercase;
        /*font-weight: bold;*/
        color: #F54927;
    }

.container {
  display: flex;
  align-items: flex-start; /* aligns tops */
  margin-right: 0px;
}

.container div {
  margin-right: 20px; /* space between the name and paragraph */
}

div.name {
  float: left;
  margin-right: 20px;
}

.spacer {
  margin-top: 2rem;
}

.contact-list {
  list-style: none;
  padding: 0;
}
.contact-list img {
  width: 30px;
  height: 30px;
  vertical-align: middle; /* keeps icons aligned with text */
  line-height: 1.6; /* 1.0 = normal, 1.5–1.8 is comfortable */
}
.contact-list img.small-icon {
  width: 22px;
  height: 22px;
  margin-right: 4px; 
  margin-left: 3px; 
  vertical-align: middle;
}
.contact-list li.office {
  margin-bottom: 0.5em;
}
.contact-list li.office .label {
  display: inline-block;
  width: 5em; /* this sets the “tab” width before the address */
  font-weight: bold; /* optional, makes "Office:" stand out */
  color: #F54927;
}
.contact-list li.office .address-text {
  display: inline-block;
  vertical-align: top;
}


address {
  font-style: normal;
  line-height: 1.6;
  padding: 10px 0;
}